{% extends '::base.html.twig' %}

{% block body %}
    <h1>Blog del estudiante</h1>
    <div>
        <a class="btn btn-success" href="{{ path('app_post_listado') }}" > Posts</a>
    </div>
{% endblock %}