{% extends '::base.html.twig' %}

{% block body %}
    <h1>Andrés Perruquers</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <p class="inicio">Andrés Perruquers ofrece un amplio catálogo de estilos de peinados que los clientes pueden escoger el que quieran. </p>

            </div>

            <div class="col-md-7 col-sm-4">
                <img src="{{ asset('../images/upload/entrada.jpg') }}" alt="Imagen de la peluqueria" class="img-responsive"/>
            </div>

        </div>
    </div>

    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <p class="inicio">El servicio que ofrece Andres Perruquers es de confianza y de calidad. Andres Perruquers es experto en peluquería desde 1969.</p>
            </div>

            <div class="col-md-7 col-sm-4">
                <img src="{{ asset('../images/upload/interior.jpg') }}" alt="Imagen de la peluqueria" class="img-responsive"/>
            </div>

        </div>
    </div>

{% endblock %}