{% extends '::base.html.twig' %}

{% block body %}
    <h1>Andrés Perruquers</h1>
    <div>
        <img src="{{ asset('../images/upload/puerta.jpg') }}" alt="Imagen de la peluqueria" class="img-responsive"/>
    </div>
{% endblock %}