.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}
/*Aqui empieza mis cambios en el css*/
/*
body{
    padding-left: 10%;
}
.container-fluid{
    padding-right: 10%;
}

.text-right{
    padding-right: 10%;
}

.margin-bottom-md{
    padding-right: 10%;
}
*/
.columna-izquierda{
    background-color: slategrey;
    height: 1000px;
    bottom:2.1em;
    border: 20px solid slategrey;
    transform: translate(-90px,0px); /* Standard syntax */
}
.columna-derecha{
    background-color: slategrey;
    height: 1000px;
    bottom:2.1em;
    border: 20px solid slategrey;
    transform: translate(90px,0px); /* Standard syntax */
}

.masthead img{
    width:100%;
    margin-top: -50px;
}